:root{
  --fs-xxl:5rem;
  --fs-xl:4rem;
  --fs-lg:3rem;
  --fs-md:2rem;
  --fs-sm:1rem;
  --fs-xs:0.5rem;
}

*{
  box-sizing: border-box;
  border: 0.5px red solid;
}
@font-face {
  font-family: 'Minecrafteria';
  src: url("../../../../../../Computer/Fonts/minecraftia/Minecraftia-Regular.ttf");
}

body {
  background-color: #1e1e1e;
  margin: 0;
  height: 100vh; 
  color: #ffffff;
  border-color: #8b8b8b; 
  font-family: 'Minecrafteria',  'Press Start 2P', monospace;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap:var(--fs-sm)


}
header,footer,section,article{
  display: flex;
}
header{
  flex-direction: column;
  align-items: center;
}
.title{
  display: flex;
  flex-direction: column;
  margin-top: var(--fs-md);

}
.title img{
  height: 100%;
  width: auto;
}
.upper-title{
  display: flex;
  align-items: center;
  height: 10vh;
}
.upper-title img{
  opacity: 0.8;
}
.upper-title img:hover{
  opacity: 1;
  transition: 3s;
}
.upper-title .middle-bar{
  height: 20px;
}
.middle-bar img{
  height:20px;
}
.lower-title{
  display: flex;
  justify-content: center;
  height: 30px;
}

main{
  display: flex;
  justify-content: space-around;  
}
.buttons{
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.buttons article{
  flex-direction: column;
  gap: var(--fs-sm);
}
.grid{
  width: 40%;
  background-color: beige;
  height: 65vh;
}
input{
  padding: 0rem;
  width: var(--fs-xxl);
  height: var(--fs-xxl);
  background-color: transparent;
  border: none;
  border-radius: 30%;
}
button{
  display: flex;
  font-size: var(--fs-sm);
  border-radius: 5%;
}

  