:root{
  --fs-xxl:5rem;
  --fs-xl:4rem;
  --fs-lg:3rem;
  --fs-md:2rem;
  --fs-sm:1rem;
  --fs-xs:0.5rem;
}

*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'Minecrafteria';
  src: url("../../../../../Computer/Fonts/minecraftia/Minecraftia-Regular.ttf");
}

body {
  background-color: #1e1e1e;
  margin: 0;
  height: 100vh; 
  color: #ffffff;
  border-color: #8b8b8b; 
  font-family: 'Minecrafteria',  'Press Start 2P', monospace;
  justify-content: center;


}
header,main,footer,section,article{
  display: flex;
  padding: var(--fs-xs)var(--fs-xxl);
}
header{
  flex-direction: column;
  align-items: center;
}
.title{
  display: flex;
  flex-direction: column;
  margin-top: var(--fs-md);

}
.title img{
  height: 100%;
  width: auto;
}
.upper-title{
  display: flex;
  align-items: center;
  height: 60px;
}
.upper-title img{
  opacity: 0.8;
}
.upper-title img:hover{
  opacity: 1;
  transition: 3s;
}
.upper-title .middle-bar{
  height: 20px;
}
.middle-bar img{
  height:20px;
}
.lower-title{
  display: flex;
  justify-content: center;
  height: 30px;
}

main{
  
}
.buttons{
  width: 33.3%;
  flex-direction: column;
  align-items: center;
}
.buttons article{
  flex-direction: column;
  gap: var(--fs-sm);
}
.grid{
  width: 33.3%;
  background-color: beige;
}
input,button{
  border-radius: 15%;
}
input{
  padding: 0rem;
  width: var(--fs-xxl);
  height: var(--fs-xxl);
  background-color: transparent;
  border: none;
}
button{
  height: var(--fs-sm);
}

  